footer {
	background: var(--color-theme-color1-ascent);
	color: var(--color-white-dim)
}

footer>nav {
	height: 50px;
	padding: 0px var(--padding-base);
	font-family: 'Roboto';
	font-size: 16px;
	text-transform: uppercase;
	position: relative;
	display: flex;
	justify-content: space-evenly;
}

footer>nav a {
	overflow: hidden;
	white-space: nowrap;
	text-align: center;
	min-width: 50px;
}

footer>nav .logo-container {
	padding : 0;
	align-self: center;
	width: 100%;
}

footer>nav a svg {
	display: block;
	margin: 0 auto -5px;
}
footer>nav a:active,
footer>nav a:focus {
	background: var(--color-theme-color3);
	color: var(--color-white)
}

footer>nav a span {
	font-size: .5em;
}


/* Pull up menu */
.footer-pullup-menu{
	position: absolute;
	bottom: 50px;
	display: grid;
	grid-auto-rows: 60px;
	z-index: 4;
	background: var(--color-theme-color1-accent);
}

.footer-pullup-menu.right{
	transform: translateX(calc( -100% + 50px ));
}


.footer-pullup-menu > SPAN,
footer > nav a > SPAN {
	align-items: center;
	color: var(--color-white);
	display: flex;
	flex-direction: row;
	font-size: var(--font-size-bodytext);
	justify-content: left;
	padding: 10px 20px;
	position: relative;
}

.footer-pullup-menu > SPAN.selected {
	background: var(--color-theme-color3)
}

.footer-pullup-menu > SPAN.selected:not(.icons) .menu-title:after {
	position: absolute;
	top: 50%;
	left: 0;
	content: "";
	font-size: 0;
	background: var(--color-theme-color2);
	box-shadow: 0 0 5px 0 var(--color-theme-color2);
	width: 5px;
	height: 5px;
	border-radius: 5px;
	animation: zoomIn 300ms ease-in-out;
	transform: translate3d(-50%, -50%, 0) scale(1);
	display: block;
}


footer > nav a > SPAN {
	align-items: center;
	background: transparent;
	color: var(--color-white);
	display: flex;
	flex-direction: column;
	font-size: var(--font-size-base);
	height: 50px;
	justify-content: center;
	width: 50px;
}

.footer-pullup-menu .menu-title {
	position: relative;
	padding-left: var(--padding-base);
}

.footer-pullup-menu.links-only .menu-title{
	padding-left: 0;
}

.footer-pullup-menu IMG,
footer > nav a > SPAN IMG {
	width: 25px;
}

.footer-pullup-menu IMG {
	margin: 0 10px 0 0	;
}

@supports(padding: max(0px)) {
	footer {
		padding-bottom: max(20px, env(safe-area-inset-bottom));
	}
}