/* Ticks */
.ticks-page {
	overflow-y: auto;
}

.tick-list table {
	width: 100%;
	margin: 10px 0;
	border-spacing: 0;
	border-collapse: separate;
}

.tick-list table th {
	text-align: left;
}

.tick-list table tr.header {
	background: transparent;
}
.tick-list table tr.header td {
	border-bottom: 1px solid var(--color-white-dim)
}


.ticks-page TR:nth-of-type(odd) {
	background: var(--color-black-alpha)
}
.ticks-page TD {
	white-space: pre;
	position: relative;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 3px;
}
