@import "animations.css";
@import "buttons.css";
@import "footer.css";
@import "groups.css";
@import "history.css";
@import "horizontal_menu.css";
@import "legends.css";
@import "login.css";
@import "otc.css";
@import "react-select.css";
@import "variables.css";

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
@import url('https://fonts.googleapis.com/css?family=Space+Mono:400');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:100,300,400');

*,
*::before,
*::after {
	box-sizing: border-box;
}

HTML,
BODY {
	/* overscroll-behavior-y: contain; */
	/* seems to make scrolling weird when menu is open */
}

HTML {
	overflow-x: hidden;
	touch-action: pan-down;
}

BODY {
	margin: 0;
	width: 100vw;
	height: 100vh;
	background: #000;
	overflow: hidden;
	overscroll-behavior: contain;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	-webkit-font-smoothing: antialiased;
	font-family: 'Roboto';
	color: var(--color-white-dim);
	font-weight: 100;
	-webkit-overflow-scrolling: touch;
}

H2 {
	color: var(--color-white);
	font-family: 'IBM Plex Mono';
	font-size: 32px;
	margin: 0;
	font-weight: 100;
	line-height: 32px;
}

H3, LABEL {
	color: inherit;
	font-family: 'IBM Plex Mono';
	font-size: 12px;
	text-transform: uppercase;
	margin: 0;
	font-weight: 100;
}

H3.mb {
	margin-bottom: 10px!important;
}

H3.mt {
	margin-top: 10px!important;
}

H4 {
	color: var(--color-white);
	font-family: 'IBM Plex Mono';
	font-size: 16px;
	margin: 0 0 10px;
	font-weight: 100;
}


UL {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

A {
	cursor: pointer;
	text-decoration: none;
	color: inherit;
	outline: none;
	-webkit-tap-highlight-color: var(--tap-highlight);
}


SECTION {
	/*	padding: var(--padding-base-wide);*/
	padding: var(--padding-base);
	position: relative;
	width: 100vw;
}


/* SPA styles */

.app {
	height: 100vh;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
}

.page-content {
	height: 100vh;
	color: var(--color-white);
	background: var(--color-theme-color1);
	flex: 1;
	transition: filter 300ms ease-in-out;
	overflow: auto;
}


.tick-page {
	height: 100%;
	display: grid;
	grid-template-rows: 40px auto 1fr;
}


/* Grade selector */
.grade {
	background: var(--color-theme-color1);
	padding: var(--padding-base);
	z-index: 2;
}

SECTION.grade {
	overflow: hidden;
	padding: 0;
	width: 100vw;
}

SECTION.grade::after {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	content: "";
	background: url('/images/bgr_2.jpg');
	pointer-events: none;
/*	
	background-size:  100vh auto;
*/
	background-size: cover;
	background-position: bottom right;
	background-repeat: no-repeat;
	mix-blend-mode: screen;
	filter: grayscale(1);
	z-index: 1;
	opacity: 0.1;
}

SECTION.grade:not(.grade-dial-container) * {
	z-index: 1;
}
.grade-dial-container {
	display: block;
	font-family: 'Space Mono';
	font-size: 50px;
	font-size: calc(50px + 40 * ((100vh - 480px) / 1024));
	height: calc((50px + 40 * ((100vh - 480px) / 1024)) * 3);
	margin: 10px auto 0;
	overflow: hidden;
	padding: 1em 0;
	position: relative;
	width: 100%;
	align-self: center;
}

.grade-dial-container .bullet {
	position: absolute;
	top: 50%;
	left: calc(50% - 5rem - 5px);
	transform: translate3d(-50%, 0%, 0);
	background: var(--color-theme-color2);
	box-shadow: 0 0 5px 0 var(--color-theme-color2);
	width: 5px;
	height: 5px;
	border-radius: 5px;
	display: block;
}

.select-dialog-viewport {
	bottom: 0;
	color: var(--color-white);
	display: block;
	line-height: 1.2em;
	left: 50%;
	overflow-y: scroll;
	position: absolute;
	scroll-behavior: smooth;
	-webkit-scroll-snap-type: y mandatory;
	-webkit-overflow-scrolling: touch;
	scroll-snap-type: y mandatory;
	top: 0;
	transform: translateX(-50%);
	white-space: nowrap;
	width: 100%;
}


.grade-dial-container:before {
	width: 100%;
	height:3rem;
	background: linear-gradient(to bottom, var(--color-theme-color1) 0%, var(--color-theme-color1-alpha) 50%, var(--color-theme-color1-alpha0) 100%);
	z-index: 2;
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	pointer-events: none;
}

.grade-dial-container:after {
	width: 100%;
	height: 3rem;
	background: linear-gradient(to bottom, var(--color-theme-color1-alpha0) 0%, var(--color-theme-color1-alpha) 50%, var(--color-theme-color1) 100%);
	z-index: 2;
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	pointer-events: none;
}

.select-dialog {
	position: absolute;
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 100px 0;
}

.select-dialog DIV {
	min-width: 2em;
	text-align: left;
	height: 1.2em;
	display: flex;
	-webkit-scroll-snap-align: center;
	-webkit-scroll-snap-coordinate: top;
	scroll-snap-align: center;
	scroll-snap-coordinate: top;
}

.select-dialog DIV>SPAN {
	position: relative;
}

.select-dialog DIV .legend {
	top: 10px;
	margin: 0;
}


/* Charts */
.graph-pulldown {
	text-align: center;
	display: block;
	width: 20px;
	height: 10px;
	margin: 0 auto -10px;
	position: relative;
	z-index: 996;
}

.grade-distribution {
/*	position: absolute;
	z-index: 995;
	background: var(--color-theme-color1-accent);
	left: 0;
	right: 0;
	padding: var(--padding-base);
*/
	margin-top: 10px;
	padding-top: 10px;
}

.grade-chart {
	margin-top: 16px;
	position: relative;
}

.grade-chart:before {
	position: absolute;
	left: -20px;
	right: -20px;
	height: 70px;
	display: block;
	content: "";
	z-index: 0;
	bottom: -35px;
}


.chart-container,
.chart-legend {
	display: grid;
	grid-template-columns: repeat(24, 4.166%);
	z-index: 1;
	position: relative;
	text-transform: uppercase;
}

.chart-legend {
	margin-top: 5px;
}

.chart-container DIV {
	position: relative;
	height: 10px;
}

.chart-container DIV:after {
	content: "";
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 1px;
	background: var(--color-chart-floor);
	display: block;
}

.chart-legend DIV {
	color: var(--color-white);
	font-family: 'IBM Plex Mono';
	font-size: 7px;
	text-align: center;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.bar {
	background: var(--color-theme-color2);
/*	background: linear-gradient(to bottom, var(--color-redpoint) 0%, var(--color-redpoint) 50%, var(--color-flash) 50%, var(--color-flash) 75%, var(--color-onsight) 75%, var(--color-onsight) 100%);*/

	width:3px;
	display: block;
	position: absolute;
	bottom: 0;
	max-height: 20px;
	opacity: .8;
	border-radius: var(--chart-bar-radius);
	transition: height 300ms ease-in-out;
	transform: translateX(-50%);
	left: 50%;
}


/* */
.pagination-container {
	display: flex;
	overflow-x: hidden;
	overflow-y: hidden;
	width: 100vw;
	height: 100%;
}

::-webkit-scrollbar,
::-webkit-scrollbar {
	width: 0px;
	background: transparent;
}

.grade-selector {
	min-width: 100%;
	height: 100%;
	position: relative;
	padding: 25px var(--padding-base) 15px var(--padding-base);
	margin-top: 10px;
	display: grid;
	grid-template-rows: 1fr auto auto;
}

#ascent-type-selector {
	margin-top: 10px;
	margin-bottom: 10px;
}


.toggle-view {
	position: absolute;
	top: 10px;
	right: 20px;
	color: var(--color-white);
	font-family: spapp;
	font-size: 24px;
	background: rgba(var(--color-r), var(--color-g), var(--color-b), var(--global-opacity));
	z-index: 2;
}



.tick-buttons-container {
	display: flex;
	justify-content: space-between;
	margin-bottom: var(--padding-base);
}

#scope-selector>li {
	margin-right: 20px;
}

#scope-selector>li:last-child {
	margin-right: 0;
}


.important-numbers {
	display: flex;
	margin-bottom: 10px;
}

.important-points,
.important-ascents,
.important-grade {
	width: 33.3%;
}

.important-ascents {
	text-align: center;
}

.important-grade {
	text-align: right;
}



/* Stats */

.stats-page {}

.progression {
	background: linear-gradient(to bottom, var(--color-theme-color1) 0%, var(--color-theme-color1-accent) 100%);
	padding-top: 0;
}

.progression-graph canvas {
	margin: 1em 0;
}

.in-out-selector {
}

.in-out-selector .in-out-menu {
	display: none;
}
.in-out-selector.open .in-out-menu{
	display: block
}

.in-out-selector .current {
	background: var(--color-theme-color1-accent);
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	transition: filter 300ms ease-in-out;
	color: var(--color-white);
}


.in-out-selector .current H3 {
	margin: 0 auto 0;
}

.in-out-selector .current .toggle {
	height: 40px;
	width: 40px;
	display: flex;
	align-content: center;
	justify-content: center;
	font-weight: 400;
	font-size: 24px;
	line-height: 40px;
}

.in-out-selector .toggle > * {
	align-self: center;
	transform: rotate(0);
	transition: all 450ms ease-in-out
}

.in-out-selector.open .toggle > * {
	transform: rotate(180deg);
}

.in-out-menu {
	background: var(--color-theme-color1-accent);
	position: absolute;
	width: 100%;
	padding: 0 var(--padding-base) var(--padding-base);
	z-index: 997;
	display: block;
	box-shadow: 0 10px 10px 0 rgba(0,0,0,.1);
}

.in-out-menu::before {
	position: absolute;
	bottom: 0px;
	right: 0px;
	left: 0px;
	height: 35px;
	content: "";
	display: block;
	background: linear-gradient(to bottom, var(--color-theme-color1-accent) 0%, var(--color-theme-color1) 100%);
}

.on-off-selector {
	display: flex;
	font-family: 'IBM Plex Mono';
	font-size: 12px;
	text-transform: uppercase;
	margin: 0;
	font-weight: 100;
	padding-top: 6px;
	white-space: nowrap;
	position: relative;
	font-weight: 100;
	justify-content: space-around;
}

.on-off-selector:not(:last-of-type) {
	margin-bottom: 10px;
}

.on-off-selector SPAN {
	width: 33%;
	color: var(--color-white);
	text-align: right;
}

.on-off-selector SPAN:last-of-type {
	text-align: left;
}

.on-off-switch {
	position: relative;
	width: 40px;
	background: var(--color-black-alpha40);
	border-radius: 9px;
	height: 9px;
	align-self: center;
}


.on-off-switch:after {
	position: absolute;
	top: 4.5px;
	left: 4.5px;
	content: "";
	transform: translate3d(-50%, -50%, 0);
	font-size: 0;
	background: var(--color-theme-color2);
	width: 19px;
	height: 19px;
	border-radius: 19px;
	display: block;
}

.on-off-switch.switched-off:after {
	left: calc(100% - 4.5px);
}

.stripes {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	margin: 0 auto 0;
	width: 20px;
	height: 10px;
}

.stripes DIV {
	width: 1px;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	animation: gravity 0.8s infinite;
	animation-timing-function: ease-in-out;
	background: var(--color-white-dim);

}

.stripes DIV:nth-of-type(2) {
	left: unset;
	right: 0;
	animation-delay: 0.15s;
}

.stripes DIV:nth-of-type(3) {
	left: 50%;
	animation-delay: 0.3s;
}

.hidden {display: none;}
