service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, write: if request.auth.uid == userId;
    }
    match /ticks/{userId} {
      allow read, write: if request.auth.uid == userId;
    }

    match /groups/{groupId} {
      allow read: if request.auth != null;
    }
    match /score/{userId} {
      allow read: if request.auth != null;
      allow write: if request.auth.uid == userId;
    }
  }
}
