@keyframes appear {
  from {
    transform: scale(0);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    transform: translate3d(-50%, -50%, 0) scale(3);
    opacity: 0;
  }

  to {
    transform: translate3d(-50%, -50%, 0) scale(1);
    opacity: 1;
  }
}

@keyframes gravity {
  0% {
    -webkit-transform: translateY(-100.5%);
    transform: translateY(-100.5%);
  }

  100% {
    -webkit-transform: translateY(100.5%);
    transform: translateY(100.5%);
  }
}
