.btn {
  width: 100%;
  display: block;
  text-align: center;
  font-size: var(--font-size-base);
  font-family: 'Roboto';
  color: var(--color-black);
  background: var(--color-theme-color2);
  -webkit-tap-highlight-color: var(--color-theme-color2);
  line-height: 2rem;
  border-radius: var(--base-btn-border-radius);
  position: relative;
  transition: all 300ms ease-in-out;
}

.btn_white {
  background: var(--color-theme-color3);
  color: var(--color-white);
  -webkit-tap-highlight-color: var(--color-white);
  position: relative;
}

.btn_small {
  width: max-content;
  padding: 0 var(--padding-base);
  border-radius: 100px;
  background: transparent;
  box-shadow: 0 0 0 1px var(--color-theme-color2);
  color: var(--color-white);
  font-size: var(--font-size-small);
  text-transform: uppercase;
  margin: 0 var(--padding-base-half);
}

.btn_small.preferred {
  background: var(--color-theme-color2);
  color: var(--color-black)
}

.btn_tiny {
  width: auto;
  padding: 0 var(--padding-base-half);
  border-radius: 100px;
  background: transparent;
  box-shadow: 0 0 0 1px var(--color-theme-color2);
  color: var(--color-white);
  font-size: var(--font-size-small);
  text-transform: uppercase;
  line-height: 1rem;
  white-space: nowrap;
  display: inline-block;
}

.btn svg {
  height: 100%;
  position: absolute;
  left: 0;
  margin-left: 10px;
}

.btn img {
  position: absolute;
  left: 0;
  margin-left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.grade-list-container .btn_dec {
  margin-right: 5px;
}


.btn:active {
  animation : hoverfx 300ms ease-in-out
}
