/* Dropwdown --> */
.dropdown-container {
  background: var(--color-black-alpha);
  border-radius: 0;
  color: var(--color-white);
  position: relative;
  box-shadow: inset 0 0 0 1px var(--color-theme-color2-alpha);
  line-height: 3em;
  text-indent: var(--padding-base);
  border-radius: 2px;
  transition: color 300ms ease-in-out box-shadow 300ms ease-in-out;
}

.dropdown-container.focused {
  box-shadow: inset 0 0 0 1px var(--color-theme-color2), 0 0 5px 0 var(--color-theme-color2-alpha);
}
.dropdown-container.disabled {
  color: var(--color-white-dim);
}

.dropdown-container.disabled,
.dropdown-container.disabled.focused{
  box-shadow: inset 0 0 0 1px var(--color-theme-color3);
}

.dropdown-container .dropdown-options.hidden {
  display: none;
}

.dropdown-container .dropdown-options {
  left: 0;
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  background: var(--color-theme-color3);
  width: 100%;
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  display: block;
  z-index: 1;
}

.dropdown-container .dropdown-options > a {
  display: block;
  width: 100%;
  white-space: nowrap;
  line-height: 35px;
  text-indent: var(--padding-base);
}

.dropdown-container .dropdown-options > a.selected,
.dropdown-container .dropdown-options > a.selected:hover {
  background: var(--color-theme-color2);
  color: var(--color-black);
}

.dropdown-container .dropdown-options > a:hover {
  background: var(--color-theme-color2-alpha);
  color: var(--color-black);
}

.dropdown-selected {
  position: relative;
}
.dropdown-selected::after {
  content: "↓";
  position: absolute;
  right: calc( var(--padding-base) * 2);
  top: 50%;
  transform: translateY(-50%) translateX(0);
  font-family: 'IBM Plex Mono';
  width: 0;
  height: 0;
  line-height: 0;
}
