/* Dropwdown --> */
.dropdown-container {
  background: var(--color-black-alpha);
  border-radius: 0;
  position: relative;
  border-bottom: 1px solid var(--color-theme-color2);
  line-height: 35px;
  text-indent: var(--padding-base);
  border-radius: 2px;
}

.dropdown-container .dropdown-options.hidden {
  display: none;
}

.dropdown-container .dropdown-options {
  left: 0;
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  background: var(--color-theme-color3);
  width: 100%;
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  display: block;
  z-index: 1;
}

.dropdown-container .dropdown-options > a {
  display: block;
  width: 100%;
  white-space: nowrap;
  line-height: 35px;
  text-indent: var(--padding-base);
}

.dropdown-container .dropdown-options > a.selected,
.dropdown-container .dropdown-options > a.selected:hover {
  background: var(--color-theme-color2);
  color: var(--color-black);
}

.dropdown-container .dropdown-options > a:hover {
  background: var(--color-theme-color2-alpha);
  color: var(--color-black);
}
