footer {
  background: var(--color-theme-color1-accent);
  color: var(--color-white-dim);
  z-index: 2;
}

footer > nav {
  height: 40px;
  padding: 0 var(--padding-base);
  font-family: 'Roboto';
  font-size: 16px;
  text-transform: uppercase;
  position: relative;
  display: flex;
  justify-content: space-evenly;
}

footer > nav a {
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  min-width: 40px;
  position: absolute;
  right: 0;
}

footer > nav .logo-container {
  padding: 0;
  align-self: center;
  width: 100%;
}

footer > nav .logo-container  .logo {
  height: 1.5em;
}

footer > nav a svg {
  display: block;
  margin: 10px auto -5px;
}

footer > nav a:active,
footer > nav a:focus {
  background: var(--color-theme-color3);
  color: var(--color-white);
}

footer > nav a span {
  font-size: 0.5em;
  display: none;
}


footer > nav a > span {
  align-items: center;
  background: transparent;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-base);
  height: 40px;
  justify-content: center;
  width: 40px;  
}

footer > nav a > span img {
  width: 25px;
}

/*
footer .gps {
  position: relative;
}
footer .gps::before {
  content: "";
  box-shadow: 0 0 0 1px var(--color-theme-color2-alpha);
  width: 20px;
  height: 20px;
  border-radius: 20px 20px 20px 0;
  transform: rotate(-45deg) translateY(10px) translateX(-10px);
  display: block;
  transform-origin: left
}

footer .gps::after {
  content: "";
  box-shadow: 0 0 0 1px var(--color-theme-color2-alpha);
  width: 10px;
  height: 10px;
  border-radius: 10px;
  transform: translateY(-8px) translateX(2px);
  display: block;
  transform-origin: left
}
*/

footer .gps {
  clip-path: polygon(50% 12.5%, 25% 87.5%, 50% 62.5%,75% 87.5%);
  background: var(--color-theme-color2);
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  display: block;
}

footer .gps-container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
}
