FORM input{
  background: rgba(0, 0, 0, 0.3);
  border: 0;
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px var(--color-theme-color2-alpha);
  color: var(--color-white);
  font-family: 'Roboto';
  line-height: 3em;
  text-indent: var(--padding-base);
  margin: 0 auto var(--padding-base);
  width: 100%;
  user-select: auto;
  -webkit-user-select: text;
  outline: none;
  font-size: var(--font-size-base);
  transition: box-shadow 300ms ease-in-out
}

FORM input:focus{
  box-shadow: inset 0 0 0 1px var(--color-theme-color2), 0 0 5px 0 var(--color-theme-color2-alpha);
}
FORM BUTTON{
    background: var(--color-theme-color2);
    border: 0;
    border-radius: var(--base-btn-border-radius);
    color: var(--color-black);
    display: block;
    font-size: 16px;
    font-family: 'Roboto';
    line-height: 35px;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    transition: all 300ms ease-in-out;  
    width: 100%;
    -webkit-tap-highlight-color: var(--color-theme-color2);
}
