.page-groups {
  height: 100%;
  display: grid;
  grid-template-rows: auto auto auto 1fr;
  grid-template-areas: "header" "History";
  position: relative;
}
.group-select {
  background: var(--color-theme-color1);
  padding-top: 0;
}

.group-toplist {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: var(--color-white);
}

/* Entry container */
.entry-container, 
.header-container {
  display: flex;
  flex-direction: row;
  font-family: 'IBM Plex Mono';
  justify-content: space-between;
  padding: 7.5px 0;
  transition: all 100ms ease-out;
  width: 100%;
  position: relative;
  border-bottom: 1px dotted var(--color-theme-color2-alpha);
  align-items: flex-end;
}

.entry-container span,
.header-container span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-shrink: 0;
  flex-grow: 0;
}

.entry-container:last-of-type {
  border-bottom: none;
}

.entry-container > span:nth-of-type(1) {
  width: 10%;
  color: var(--color-theme-color2);
}

.entry-container > span:nth-of-type(2) {
  font-family: 'Roboto';
  font-weight: 100;
  padding: 0 1rem 0;
  width: 55%;
}

.entry-container > span:nth-of-type(3) {
  width: 20%;
}

.entry-container > span:nth-of-type(4) {
  width: 15%;
}

.entry-container > span {
  position: relative;
}

.header-container > h3:nth-of-type(1) {width: 10%}
.header-container > h3:nth-of-type(2) {width: 55%; padding: 0 1rem 0;}
.header-container > h3:nth-of-type(3) {width: 20%;}
.header-container > h3:nth-of-type(4) {width: 15%;}


.entry-container span.dir {
  background: var(--color-black);
  border-radius: 13px;
  color: var(--color-white);
  font-size: 0.75rem;
  height: 13px;
  line-height: 13px;
  position: absolute;
  right: 7px;
  text-align: center;
  top: 0;
  width: 13px;
}
