.tick-list table {
  width: 100%;
  margin: 10px 0;
  border-spacing: 0;
  border-collapse: separate;
  text-transform: capitalize;
  font-size: var(--font-size-base);
}

.tick-list table th {
  text-align: left;
  color: inherit;
  font-family: 'IBM Plex Mono';
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 100;
  border-bottom: 1px solid var(--color-white-dim);
  text-indent: 5px;
}

.tick-list table tr.header {
  line-height: 2em;
}

.tick-list table tr.header td {
  border-bottom: 1px solid var(--color-white-dim);
}

.grade-legend {
  background: #0f8;
  color: #fff;
  width: 25px;
  display: flex;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-small);
}

.grade-legend.gray {
  background: rgb(128, 128, 128);
  color: #fff;
}
.grade-legend.yellow {
  background: rgb(255, 222, 0);
  color: #000;
}
.grade-legend.green {
  background: rgb(64, 222, 61);
}
.grade-legend.orange {
  background: rgb(255, 128, 0);
}
.grade-legend.red {
  background: rgb(255, 0, 0);
}
.grade-legend.blue {
  background: rgb(32, 64, 222);
}
.grade-legend.purple {
  background: rgb(255, 0, 255);
}
.grade-legend.pink {
  background: rgb(255, 0, 128);
}
.grade-legend.black {
  background: rgb(32, 32, 32);
}
.grade-legend.white {
  background: rgb(2555, 32255, 255);
  color: #000;
}

.page-history {
  height: 100%;
  display: grid;
  grid-template-rows: 40px 1fr;
  grid-template-areas: "header" "History";
  position: relative;
}


.history-content {
  padding: 0 var(--padding-base) 0;
}

.page-history:not(.status-ticker) *,
.page-history:not(.navi-shadow) {
  z-index: 1;
}

.no-history {
  text-transform: none;
  text-align: center;
  font-family: 'IBM Plex Mono';
  text-transform: uppercase;
}

.score {
  font-family: 'IBM Plex Mono'; 
  font-weight: 300;
}


.page-history .scroll-container::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  background-image: url('/images/bgr_history.jpg');
  pointer-events: none;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  mix-blend-mode: screen;
  filter: grayscale(1);
  z-index: 1;
  opacity: 0.1;
}
