.legend {
  opacity: 0;
  background: var(--color-white-op90);
  border-radius: 2px;
  color: var(--color-black-op80);
  display: inline-block;
  font-family: 'IBM Plex Mono';
  font-size: 12px;
  font-weight: 400;
  height: 16px;
  left: 100%;
  line-height: 16px;
  margin-left: 5px;
  padding: 0 3px;
  position: absolute;
  top: -6px;
  transition: opacity 300ms ease-in-out;
  min-width: 2ch;
  text-align: center;
}
.legend:not(:empty) {
  animation: appear 300ms ease-in-out;
  opacity: 1;
}

.tiny-legends .legend {
  font-size: 6px;
  height: 8px;
  line-height: 8px;
  padding: 0 1px;
}

.small-legends .legend {
  font-size: 8px;
  height: 10px;
  line-height: 10px;
  padding: 0 1px;
}

.legends-holder .legend,
.legends-holder .type-common {
  background: #efefef;
  color: var(--color-theme-color1);
}

.legends-holder .type-redpoint {
  background: var(--color-redpoint);
  color: var(--color-white);
}

.legends-holder .type-flash {
  background: var(--color-flash);
  color: var(--color-black);
}

.legends-holder .type-onsight {
  background: var(--color-onsight);
  color: var(--color-black);
}

.listTickSet .type-redpoint {
  color: var(--color-redpoint);
}

.listTickSet .type-flash {
  color: var(--color-flash);
}

.listTickSet .type-onsight {
  color: var(--color-onsight);
}

.legends-holder {
  position: absolute;
  left: 100%;
/*  height: 16px;*/
  line-height: 1rem;
  font-size: 0;
  top: 50%;
  transform: translateY(-50%);
}

/* Dial container specific styles */
.grade-dial-container .legends-holder {
  top: 50%;
  transform: translateY(-50%);
  display: flex;
}

.grade-dial-container .legends-holder .legend {
  top: 0;
  min-width: 0;
  position: relative;
  margin-left: 0px!important;
  transition: margin-left 300ms ease-in-out, opacity 300ms ease-in-out, padding 300ms ease-in-out;
  padding: 0;
}

.grade-dial-container .legends-holder .legend.legend:not(:empty) {
  margin-left: 5px!important;
  padding: 0 3px;
}

.legend.tick-added{
  animation: appear 300ms ease-in-out, addTick 300ms ease-in-out;
}

.legend.tick-removed{
  animation: appear 300ms ease-in-out, removeTick 300ms ease-in-out;
}


/* Horizontal container specific styles */
.horizontal-menu .legends-holder {
  left: unset;
  top: 0.25rem
}

.legends-holder .legend {
  left: auto;
  margin-left: 3px !important;
}

.tiny-legends .legends-holder {
  left : 50%;
  transform: translate3D(-50%, -50%, 0);
  width: 100%;
  display: inline-block;
  top: -2px;
}

.tiny-legends .legends-holder .legend:not(:empty) {
  animation: appearFixX 300ms ease-in-out;
}
.tiny-legends .legends-holder .legend {
  margin-left : 0!important;
  left: 50%;
  transform: translateX(-50%) scale(1);
}

#ascent-type-selector .legends-holder .legend:not(:empty) {
  position: absolute
}
