.login-page,
.signup-page {
  height: 100%;
  text-align: center;
  color: var(--color-white);
  background: var(--color-theme-color1);
  position: relative;
}

.login-page::after,
.signup-page::after {
  background: url('/images/bgr_outdoors.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  content: '';
  filter: grayscale(1);
  left: 0;
  mix-blend-mode: screen;
  opacity: 0.1;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
}

.login-page section,
.signup-page section {
  padding: var(--padding-base-wide);
}

.login-page H1,
.signup-page H1 {
  font-size: 4em;
  color: var(--color-white-dim);
  margin: 0;
  font-family: 'Roboto';
}


.login-page .loader {
  margin-left: 10px;
  position: absolute;
}

.login-error:not(:empty),
.api-message-error:not(:empty) {
  margin: 0 0 var(--padding-base);
  color: var(--color-white);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center
}

.api-message-error:not(:empty):before,
.login-error:not(:empty):before {
  display: block;
  content: "";
  background: url(/images/icon_alert.svg);
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.api-message-success:not(:empty) {
  margin: 0 0 var(--padding-base);
  color: var(--color-white);
}


.login-title-new {
  color: var(--color-theme-color2);
}
