.login-page,
.signup-page {
  height: 100%;
  text-align: center;
  color: var(--color-white);
  background: var(--color-theme-color1);
  position: relative;
}

.login-page::after,
.signup-page::after {
  background: url('/images/bgr_outdoors.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  content: '';
  filter: grayscale(1);
  left: 0;
  mix-blend-mode: screen;
  opacity: 0.1;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
}

.login-page section,
.signup-page section {
  padding: var(--padding-base-wide);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.login-page H1,
.signup-page H1 {
  font-size: 4em;
  color: var(--color-white-dim);
  margin: 0;
  font-family: 'Roboto';
}


.login-page .loader {
  margin-left: 10px;
  position: absolute;
}


.login-error:not(:empty),
.signup-error:not(:empty) {
  margin: 0 0 var(--padding-base);
  color: var(--color-redpoint)
}

.login-title-new {
  color: var(--color-theme-color2);
}
