.login-page,
.signup-page {
  height: 100%;
  text-align: center;
  color: var(--color-white);
  background: var(--color-theme-color1);
  position: relative;
}

.login-page::after,
.signup-page::after {
  background: url('/images/bgr_outdoors.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  content: '';
  filter: grayscale(1);
  left: 0;
  mix-blend-mode: screen;
  opacity: 0.1;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
}

.login-page section,
.signup-page section {
  padding: var(--padding-base-wide);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.login-page H1,
.signup-page H1 {
  font-size: 4em;
  color: var(--color-white-dim);
  margin: 0;
  font-family: 'Roboto';
}

.login-page input,
.login-page button,
.signup-page input,
.signup-page button {
  background: rgba(0, 0, 0, 0.3);
  border: 0;
  border-bottom: 1px solid var(--color-theme-color2);
  border-radius: 2px 2px 0 0;
  box-shadow: none;
  color: var(--color-white);
  font-family: 'Roboto';
  font-size: 20px;
  padding: var(--padding-base);
  margin: 0 auto var(--padding-base);
  width: 100%;
}

.login-page input,
.signup-page INPUT {
  color: var(--color-theme-color2);
}

.login-page input::placeholder,
.signup-page INPUT::placeholder {
  color: var(--color-theme-color2-alpha);
}

.login-form button,
.logout-form button,
.signup-page BUTTON {
  background: var(--color-theme-color2);
  color: var(--color-white);
  text-transform: uppercase;
}

.login-page .loader {
  margin-left: 10px;
  position: absolute;
}


.login-error:not(:empty),
.signup-error:not(:empty) {
  margin: 0 0 var(--padding-base);
  color: var(--color-redpoint)
}

.login-title-new {
  color: var(--color-theme-color2);
}
