@import './animations.css';
@import './buttons.css';
@import './dropdown.css';
@import './calendar.css';
@import './footer.css';
@import './forms.css';
@import './fonts.css';
@import './groups.css';
@import './history.css';
@import './horizontal_menu.css';
@import './legends.css';
@import './login.css';
@import './otc.css';
@import './profile.css';
@import './progress.css';
@import './ranking.css';
@import './status_ticker.css';
@import './toggle.css';
@import './variables.css';

*,
*::before,
*::after {
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout:none;
}

html {
  overflow-x: hidden;
  touch-action: pan-down;
}

body {
  margin: 0;
  width: 100vw;
  height: 100%;
  background: #000;
  overflow: hidden;
  overscroll-behavior: contain;
  font-family: 'Roboto';
  color: var(--color-white-dim);
  font-weight: 100;
  z-index: 1;
}

h2 {
  color: var(--color-white);
  font-family: 'IBM Plex Mono';
  font-size: var(--font-size-heading-1);
  margin: 0;
  font-weight: 100;
  line-height: 32px;
}

h3,
label {
  color: inherit;
  font-family: 'IBM Plex Mono';
  font-size: 12px;
  text-transform: uppercase;
  margin: 0;
  font-weight: 100;
}

h4 {
  color: var(--color-white);
  font-family: 'IBM Plex Mono';
  font-size: 16px;
  margin: 0 0 10px;
  font-weight: 100;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  outline: none;
  -webkit-tap-highlight-color: var(--tap-highlight);
}

section {
  padding: var(--padding-base);
  position: relative;
  width: 100%;
}

/* SPA styles */

.app {
  height: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  z-index: 2;
  touch-action: none;
}

.page-content {
  height: 100%;
  color: var(--color-white);
  background: var(--color-theme-color1-accent);
  background: linear-gradient(to bottom, #000 0%, var(--color-theme-color1-accent) env(safe-area-inset-top, 0), var(--color-theme-color1-accent) 100%);
  flex: 1;
  transition: filter 300ms ease-in-out;
  overflow: hidden;
  touch-action: none;
  padding-top: env(safe-area-inset-top, 0);
}

.page-tick {
  height: 100%;
  display: grid;
  grid-template-rows: 40px auto 1fr;
  grid-template-areas: 
    "header"
   "stats"
   "tick";
}

.page-settings {
  height: 100%;
  display: grid;
  grid-template-rows: auto auto auto 1fr;
}

.page-statistics {
  height: 100%;
  display: grid;
}

/* Grade selector */
.grade {
  background: var(--color-theme-color1);
  padding: var(--padding-base);
  z-index: 2;
  grid-area: tick;

}

section.grade {
  overflow: hidden;
  padding: 0;
  width: 100%;
  height: 100%;
}

section.grade::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  background-image: url('/images/bgr_outdoors.jpg');
  pointer-events: none;
  background-size: cover;
  background-position: bottom right;
  background-repeat: no-repeat;
/*  mix-blend-mode: screen;*/
  filter: grayscale(1);
  z-index: 1;
  opacity: 0.1;
}

BODY.indoors section.grade::after {
  background-image: url('/images/bgr_indoors.jpg');
}

.scroll-container {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y:  auto;
  position: relative;
  scrollbar-width: thin;
  scrollbar-color: var(--color-theme-color1) transparent;
  overscroll-behavior: contain;
}

.grade-dial-container {
  display: block;
  font-family: 'Space Mono';
  font-size: 50px;
  font-size: calc(50px + 40 * ((100vh - 480px) / 1024));
  height: calc((50px + 40 * ((100vh - 480px) / 1024)) * 3);
  margin: 10px auto 0;
  overflow: hidden;
  padding: 1em 0;
  position: relative;
  width: 100%;
  align-self: center;
}

.grade-dial-container .bullet {
  position: absolute;
  top: 50%;
  left: calc(50% - 5rem - 5px);
  transform: translate3d(-50%, 0%, 0);
  background: var(--color-theme-color2);
  box-shadow: 0 0 5px 0 var(--color-theme-color2);
  width: 5px;
  height: 5px;
  border-radius: 5px;
  display: block;
}

.select-dialog-viewport {
  bottom: 0;
  color: var(--color-white);
  display: block;
  line-height: 1.2em;
  left: 50%;
  overflow-y: scroll;
  position: absolute;
  scroll-behavior: smooth;
  -webkit-scroll-snap-type: y mandatory;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: y mandatory;
  top: 0;
  transform: translateX(-50%);
  white-space: nowrap;
  width: 100%;
  scrollbar-width: thin;
  scrollbar-color: var(--color-theme-color1) transparent;
  overscroll-behavior: contain;
}

.grade-dial-container::before {
  width: 100%;
  height: 3rem;
  background: linear-gradient(
    to bottom,
    var(--color-theme-color1) 0%,
    var(--color-theme-color1-alpha) 50%,
    var(--color-theme-color1-alpha0) 100%
  );
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  pointer-events: none;
  z-index: 1;
}

.grade-dial-container::after {
  width: 100%;
  height: 3rem;
  background: linear-gradient(
    to bottom,
    var(--color-theme-color1-alpha0) 0%,
    var(--color-theme-color1-alpha) 50%,
    var(--color-theme-color1) 100%
  );
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 1;
}

.select-dialog {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 100px 0;
}

.select-dialog div {
  min-width: 2em;
  text-align: left;
  height: 1.2em;
  display: flex;
  -webkit-scroll-snap-align: center;
  -webkit-scroll-snap-coordinate: top;
  scroll-snap-align: center;
  scroll-snap-coordinate: top;
}

.select-dialog div > span {
  position: relative;
}

.select-dialog div .legend {
  top: 10px;
  margin: 0;
}

.pagination-container {
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100vw;
  height: 100%;
}

::-webkit-scrollbar,
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.grade-selector {
  min-width: 100%;
  height: 100%;
  position: relative;
  padding: 25px var(--padding-base) 15px var(--padding-base);
  margin-top: 10px;
  display: grid;
  grid-template-rows: 1fr auto auto;
}

#ascent-type-selector {
  margin-top: 10px;
  margin-bottom: 10px;
}

.tick-buttons-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--padding-base);
}


.hidden {
  display: none;
}

/* page title */
.page-title-container {
  background: var(--color-theme-color1-accent);
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: filter 300ms ease-in-out;
  color: var(--color-white);
  margin: calc(-1 * var(--padding-base));
  padding-left: var(--padding-base);
}

.mb {
  margin-bottom: 10px !important;
}

.mt {
  margin-top: 10px !important;
}

.blink {
  text-decoration: blink;
  animation: zoomIn 0.8s infinite ease-in-out;
}

.spinner {
  width: 1em;
  height: 1em;
  display: inline-block;
  border-radius: 1em;
  border: 1px solid var(--color-black);
  border-top-color: transparent;
  animation: spin360 0.8s infinite linear;
  margin: 1em;
}

.text-link {
  color: var(--color-theme-color2);
}



@media (orientation: landscape) {
  .page-tick {
    grid-template-rows: 40px 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
      "header header"
      "stats tick";
  }

  .grade-selector {
    margin-top: 0;
    padding: 10px;
  }
}

/* */
@media only screen and (min-width: 1024px) and (min-height: 768px) { 
  .grid-container {
      display: grid;
      grid-template-columns: 1fr 360px 1fr;
      grid-template-rows: 1fr 640px 1fr;
      grid-column-gap: 0px;
      grid-row-gap: 0px; 
      grid-template-areas: 
        "a a a"
        "a app a"
        "a a a";    
      position: fixed;
      height: 100%;
      width: 100%;
      background: #111;
  }

  .app { 
    grid-area: app;
    grid-area: 2 / 2 / 3 / 3; 
    position: relative;
  }
    
  .page-tick {
    height: 100%;
    display: grid;
    grid-template-rows: 40px auto 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
      "header"
      "stats"
      "tick";
    }

    .grade-selector {
      padding: 25px var(--padding-base) 15px var(--padding-base);
      margin-top: 10px;
    }  
}



.in-out-menu {
  position: absolute; 
  width: 100%; 
  top: 40px; 
  z-index: 2;
  background: var(--color-theme-color1-accent);
  padding-bottom: var(--padding-base);
  margin-top: env(safe-area-inset-top, 0);
}
