.modal-window {
    position: fixed;
    border-radius: 4px; 
    background: var(--color-theme-color1); 
    min-height: 50vh;
    max-height: 75vh;
    z-index: 999;
    left: var(--padding-base);
    right: var(--padding-base);
    top: 50%;
    transform: translateY(-50%); 
    padding: var(--padding-base); 
    color: var(--color-white);
    overflow: hidden;
    display: grid;
    grid-template-rows: auto 1fr auto;
    animation: fadein 300ms ease-in-out;
}

.modal-small {
    min-height: unset;
}

.modal-window .modal-title {
    margin: var(--padding-base-negative) var(--padding-base-negative) 0;
    background: var(--color-theme-color1-accent); 
    padding: var(--padding-base-half) var(--padding-base);
    color: var(--color-white);
}

.modal-window .modal-content {
    overflow: auto;
    padding: var(--padding-base);
    line-height: 1.5em;
}

.modal-window .modal-options {
    display: flex;
    justify-content: center;
    margin: 0 var(--padding-base-negative) var(--padding-base-negative);
    background: linear-gradient(to bottom, var(--color-theme-color1) 0%, var(--color-theme-color1-accent) 100%); 
    padding: var(--padding-base-half) var(--padding-base);
}
