.page-profile {
  height: 100%;
  color: var(--color-white);
  background: var(--color-theme-color1);
  position: relative;
}

.page-profile::after {
  background: url('/images/bgr_outdoors.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  content: '';
  filter: grayscale(1);
  left: 0;
  mix-blend-mode: screen;
  opacity: 0.1;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
}
